<%- include("partials/header.ejs") %>
  <main>
    <div class="container">
      <div class="title rectangle">
        <h1 class="title-section">Work List</h1>
      </div>

      <% if(locals.toDo.length > 0) {%>
        <form action="/deleteWork" method="post">
          <div class="todo rectangle">
            <div class="content">
              <input class="checkbox" type="checkbox" name="checkbox" value="<%= toDo[0]._id %>" onchange="this.form.submit()">
              <p class="todo-item"><%= toDo[0].chore %></p>
            </div>
          </div>
        </form>

        <% for(let i = 1; i < toDo.length; i++){%>
          <form action="/deleteWork" method="post">
            <div class="todo-snd rectangle">
              <div class="content">
                <input class="checkbox" type="checkbox" name="checkbox" value="<%= toDo[i]._id %>" onchange="this.form.submit()">
                <p class="todo-item"><%= toDo[i].chore %></p>
              </div>
            </div>
          </form>
        <% } %>

        <form class="item-after rectangle" action="/submitWork" method="post">
          <input class="new-item" type="text" name="newItem" placeholder="New item">
          <button type="submit">+</button>
        </form>

      <% } else { %>
        <form class="item-before rectangle" action="/submitWork" method="post">
          <input class="new-item" type="text" name="newItem" placeholder="New item">
          <button type="submit">+</button>
        </form>      
      <% } %>
    </div>
  </main>
  <footer>
    Copyright © <%= new Date().getFullYear() %>
  </footer>
</body>
</html>